<div class="col-lg-12" style="min-height: 590px;">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-lg-6">
                    <h5>{{ 'TASK' | translate }} {{taskCtrl.taskData.task_title}}</h5>
                    <h5 style="padding-left:1em;font-weight: 300;" ng-if="taskCtrl.taskData.task_status == 'Inactive'">{{ 'INACTIVE' | translate }}</h5>
                </div>
                <div class="col-lg-6 pull-right" role-handler role="0">
                    <a uib-tooltip="Delete Task" tooltip-placement="left" role-handler role="0"
                       ng-if="!taskCtrl.disableChange" class="pull-right"
                       mwl-confirm message="Are you sure you want to delete Task?"
                       confirm-text="Yes <i class='glyphicon glyphicon-ok'></i>" cancel-text="No <i class='glyphicon glyphicon-remove'></i>" placement="left"
                       on-confirm="taskCtrl.deleteTask()" on-cancel="cancelClicked = true" confirm-button-type="danger" cancel-button-type="default"><i class="fa fa-trash fa-2x" 
                       style="color: var(--secondary-text-color)" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="wizard">
                <div class="steps clearfix">
                    <ul style="display: flex">
                        <li class="pull-left" ng-class="{current : taskCtrl.step == 1}">
                            <a class="btn-default" ng-click="taskCtrl.openStep(1)"><span></span> {{"GENERAL" | translate}}</a>
                        </li>
                        <li class="pull-left" ng-if="taskCtrl.taskData.reference != null" ng-class="{current : taskCtrl.step == 6}">
                            <a class="btn-default" ng-click="taskCtrl.openStep(6)"><span></span>Reference</a>
                        </li>
                        <li class="pull-left" ng-if="!(taskCtrl.taskData.task_type == 'EXTRACT' && taskCtrl.taskData.selectAllEntites)
                            && taskCtrl.taskData.reference !== 'refernceOnly'" ng-class="{current : taskCtrl.step == 2}">
                            <a class="btn-default" ng-click="taskCtrl.openStep(2)"><span></span> {{"REQUESTED_ENTITIES" | translate}}</a>
                        </li>
                        <li class="pull-left" ng-if="taskCtrl.taskData.task_globals" ng-class="{current : taskCtrl.step == 5}">
                            <a class="btn-default" ng-click="taskCtrl.openStep(5)"><span></span> {{"TASK_GLOBALS" | translate}}</a>
                        </li>
                        <li class="pull-left" ng-if="
                            ((taskCtrl.taskData.task_type == 'LOAD' && !taskCtrl.taskData.version_ind) ||
                            (taskCtrl.taskData.task_type == 'EXTRACT' && !taskCtrl.taskData.version_ind 
                                && (taskCtrl.sourceUserRole.allowed_request_of_fresh_data || taskCtrl.userRole.allowed_request_of_fresh_data))) &&
                            taskCtrl.taskData.reference !== 'refernceOnly'" ng-class="{current : taskCtrl.step == 3}">
                            <a class="btn-default" ng-click="taskCtrl.openStep(3)"><span></span> {{"REQUEST_PARAMETERS" | translate}}</a>
                        </li>
                        <li class="pull-left" ng-class="{current : taskCtrl.step == 4}">
                            <a class="btn-default" ng-click="taskCtrl.openStep(4)"><span></span> {{"EXECUTION_TIMING" | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="wizard">
                    <div  class="content" ng-show="taskCtrl.step == 1">
                        <form name="generalForm" role="form" novalidate
                              ng-submit="taskCtrl.generalNext(generalForm)" class="p-lg">
                            <div ng-include="'views/tasks/task/general.html'"></div>
                        </form>
                    </div>
                    <div  class="content" ng-show="taskCtrl.step == 2">
                        <form name="requestedEntitiesForm" role="form"  novalidate
                              ng-submit="taskCtrl.requestedEntitiesNext(requestedEntitiesForm)" class="p-lg">
                            <div ng-include="'views/tasks/task/requestedEntities.html'"></div>
                        </form>
                    </div>
                    <div  class="content" ng-show="taskCtrl.step == 3">
                        <form name="requestParametersForm" role="form" novalidate
                              ng-submit="taskCtrl.requestParametersNext(requestParametersForm)" class="p-lg">
                            <div ng-include="'views/tasks/task/requestParameters.html'"></div>
                        </form>
                    </div>
                    <div  class="content" ng-show="taskCtrl.step == 4">
                        <form name="executionTimingForm" role="form" novalidate
                              ng-submit="taskCtrl.executionTimingFinish(executionTimingForm)" class="p-lg">
                            <div ng-include="'views/tasks/task/executionTiming.html'"></div>
                        </form>
                    </div>
                    <div  class="content" ng-if="taskCtrl.step == 5">
                            <form name="AddGlobalForm" role="form" novalidate
                                ng-submit="taskCtrl.globalsNext()" class="p-lg">
                            <div ng-include="'views/tasks/task/addGlobal.html'"></div>
                        </form>
                    </div>
                    <div  class="content" ng-if="taskCtrl.step == 6">
                        <form name="ReferenceForm" role="form" novalidate
                              ng-submit="taskCtrl.referenceNext()" class="p-lg">
                            <div ng-include="'views/tasks/task/reference.html'"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
