<div class="ibox float-e-margins">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-8">
                <h2>{{ 'NEW_ROLE' | translate }}</h2>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <form role="form" ng-submit="environmentCtrl.addNewRole()">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group col-lg-12">
                        <label>{{"NAME" | translate}}</label>
                        <input type="text" class="form-control" ng-model="environmentCtrl.roleData.role_name" required>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>{{"DESCRIPTION" | translate}}</label>
                        <input type="text" class="form-control" ng-model="environmentCtrl.roleData.role_description">
                    </div>
                    <div class="col-lg-12" ng-if="environmentCtrl.environmentDataOrig.allow_read">
                        <div class="row">
                            <div class="col-lg-3" style="margin-top: 15px;">
                                <div class="form-group">
                                    <input ng-disabled="environmentCtrl.roleData.allow_read == true && !environmentCtrl.roleData.allow_write" 
                                        style="width: 100%" icheck type="checkbox" ng-change="environmentCtrl.checkBoxChanged()" ng-model="environmentCtrl.roleData.allow_read"/>
                                    <label class="control-label">Read</label>
                                </div>
                            </div>
                            <div class="form-group col-lg-9" ng-show="environmentCtrl.roleData.allow_read">
                                <label>{{"NUMBER_OF_ENTITIES" | translate}}</label>
                                <input style="width: 100%" type="number" class="form-control" min="1" ng-change="environmentCtrl.roleData.allowed_number_of_entities_to_read === undefined ? environmentCtrl.roleData.allowed_number_of_entities_to_read = 1 : environmentCtrl.roleData.allowed_number_of_entities_to_read" ng-model="environmentCtrl.roleData.allowed_number_of_entities_to_read"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" ng-if="environmentCtrl.environmentDataOrig.allow_write">
                        <div class="row">
                            <div class="col-lg-3" style="margin-top: 15px;">
                                <div class="form-group">
                                    <input ng-disabled="!environmentCtrl.roleData.allow_read && environmentCtrl.roleData.allow_write == true" 
                                        style="width: 100%" icheck type="checkbox" ng-change="environmentCtrl.checkBoxChanged()" ng-model="environmentCtrl.roleData.allow_write"/>
                                    <label class="control-label">Write</label>
                                </div>
                            </div>
                            <div class="form-group col-lg-9" ng-show="environmentCtrl.roleData.allow_write">
                                <label>{{"NUMBER_OF_ENTITIES" | translate}}</label>
                                <input style="width: 100%" type="number" class="form-control" min="1" ng-change="environmentCtrl.roleData.allowed_number_of_entities_to_copy === undefined ? environmentCtrl.roleData.allowed_number_of_entities_to_copy = 1 : environmentCtrl.roleData.allowed_number_of_entities_to_copy" ng-model="environmentCtrl.roleData.allowed_number_of_entities_to_copy"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12" ng-if="!environmentCtrl.hideUsersInput">
                        <label>{{"TESTERS" | translate}}</label>
                        <select width="'100%'"  chosen multiple class="form-control chosen-select" ng-model="environmentCtrl.testers" ng-options="option as option.username for option in environmentCtrl.allTesters track by option.user_id">
                        </select>
                    </div>
                    <div class="form-group col-lg-6 permissionsLabels">
                        <div>
                            <input ng-disabled="environmentCtrl.disableChangeRole" style="width: 100%" icheck
                                   type="checkbox" ng-model="environmentCtrl.roleData.allowed_test_conn_failure"/>
                        </div>
                        <label>
                            {{"ENABLE_TASK_EXECUTION_UPON_FAILURE" | translate}}
                        </label>
                    </div>
                    <div class="form-group col-lg-12 permissionsLabelsNew" ng-show="environmentCtrl.roleData.allow_write">
                        <div>
                            <label>
                                <input style="width: 100%" icheck type="checkbox" ng-model="environmentCtrl.roleData.allowed_delete_before_load"/>
                                {{"DELETE_BEFORE_LOAD" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 permissionsLabelsNew" ng-show="environmentCtrl.roleData.allow_write">
                        <div>
                            <label>
                                <input style="width: 100%" icheck type="checkbox" ng-model="environmentCtrl.roleData.allowed_creation_of_synthetic_data"/>
                                {{"CREATE_OF_SYNTHETIC_DATA" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 permissionsLabelsNew" ng-show="environmentCtrl.roleData.allow_write">
                        <div>
                            <label>
                                <input style="width: 100%" icheck type="checkbox" ng-model="environmentCtrl.roleData.allowed_random_entity_selection"/>
                                {{"RANDOM_ENTITY_SELECTION" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 permissionsLabelsNew">
                        <div>
                            <label>
                                <input style="width: 100%" icheck type="checkbox" ng-model="environmentCtrl.roleData.allowed_request_of_fresh_data"/>
                                {{"REQUEST_OF_FRESH_DATA" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 permissionsLabelsNew">
                        <div>
                            <label>
                                <input  style="width: 100%" icheck type="checkbox" ng-model="environmentCtrl.roleData.allowed_refresh_reference_data"/>
                                {{"REFRESH_REFERENCE_DATA" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 permissionsLabelsNew" >
                        <div>
                            <label>
                                <input style="width: 100%" icheck type="checkbox" ng-model="environmentCtrl.roleData.allowed_task_scheduling"/>
                                {{"TASK_SCHEDULING" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 permissionsLabelsNew" ng-show="environmentCtrl.roleData.allow_write">
                        <div>
                            <label>
                                <input style="width: 100%" icheck type="checkbox" ng-model="environmentCtrl.roleData.allowed_replace_sequences"/>
                                {{"REPLACE_SEQUENCES" | translate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 permissionsLabelsNew" ng-if="environmentCtrl.isFluxMode">
                        <div>
                            <label>
                                <input style="width: 100%" icheck type="checkbox" ng-model="environmentCtrl.roleData.allowed_entity_versioning"/>
                                Entity Versioning
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-primary pull-left" type="submit">{{"ADD" | translate}}</button>
                            <a 	uib-tooltip="Close Role Editor"
                                  tooltip-placement="left"
                                  type="button"
                                  role-handler
                                  role="1"
                                  ng-if="!environmentCtrl.disableChangeRole"
                                  class="pull-right"
                                  mwl-confirm message="Are you sure you want to close?"
                                  confirm-text="Yes <i class='glyphicon glyphicon-ok'></i>"
                                  cancel-text="No <i class='glyphicon glyphicon-remove'></i>"
                                  placement="left"
                                  on-confirm="environmentCtrl.getSummaryData()"
                                  on-cancel="cancelClicked = true"
                                  confirm-button-type="danger"
                                  cancel-button-type="default">

                                <button class="btn btn-primary pull-right" type="button">{{"CLOSE" | translate}}</button>
                            </a>                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>