<div>
        <div class="k2-card-title">
            Map a Role to a Permission Group
        </div>
    <hr>
    <div class="k2-body">
        <div class="row">
            <form role="form" name="attachRoleToPermissionGroupForm"
                ng-submit="newPermisionGroupCtrl.attachRoleToPermissionGroup()">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Permission Group</label>
                        <select required class="form-control" ng-model="newPermisionGroupCtrl.permissionGroup"
                            name="permission_group"
                            ng-options="o.value as o.name for o in newPermisionGroupCtrl.permissionGroups">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Role</label>
                        <select required class="form-control" ng-model="newPermisionGroupCtrl.fabricRole"
                            name="fabric_role" ng-options="o as o for o in newPermisionGroupCtrl.fabricRoles">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" ng-model="newPermisionGroupCtrl.description" class="form-control">
                    </div>
                    <div style="display: flex;flex-direction: row;justify-content: flex-end;">
                        <button class="k2-card-ok-cancel-btn custom-hover" type="button" ng-click="newPermisionGroupCtrl.close()">{{"CANCEL" |
                            translate}}</button>
                        <button class="k2-card-ok-cancel-btn custom-hover" type="submit">{{"SAVE" | translate}}</button>
                    </div>
                </div>
            </form>
        </div>

</div>
</div>